@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* CSS Tailwindcss */

@layer base {
    body {
        font-family: 'Manrope', sans-serif;
        @apply text-gray-800
                transition-all
                ease-in-out
                duration-500
                font-normal
                outline-none;        
    }

    html {
        @apply  scroll-smooth
                scroll-pt-16
                overflow-x-hidden;
    }

}

@layer components {

    .layout-container {
        max-width: 1200px;
        @apply  ml-auto
                mr-auto
                pl-4
                pr-4;
    }

    .btn {
        @apply bg-color-btn
                text-white
                py-6
                px-9
                leading-none
                cursor-pointer
                transition-all
                ease-in-out
                duration-500
                hover:bg-red-600 
                hover:shadow-lg 
                hover:shadow-red-500;
    }

    .heading__2 {
        @apply  text-[40px]
                leading-[50px]
                font-semibold
                mb-4;
    }

    .tags {
        @apply  absolute
                top-3
                left-3
    }

    .tag__content {
        @apply  inline-block
                py-1
                px-3
                bg-gray-800
                border-2 
                border-white
                text-white
                rounded-lg
                bg-opacity-50
                mr-1.5
    }

    .form-subscribes:focus-within {
        @apply  border-2 
                border-color-btn
                transition-all 
                ease-in-out 
                duration-500;
    }
    .form-subscribes:focus-within label {
        @apply  transform
                -translate-y-4
                opacity-0
                transition-all 
                ease-in-out 
                duration-500;
    }
    .form-subscribes:focus-within input[type="email"] {
        @apply  transform
                -translate-y-4
                transition-all 
                ease-in-out 
                duration-500;
    }

    /* CSS Header when onscroll */
    .header-menu.active {
        @apply 
                fixed
                top-0
                left-0
                right-0
                z-[99999] 
                transition-all
                ease-in-out
                duration-1000 
                bg-red-500
                text-white 
                py-8
                px-32;
    }

    .header-menu.active #navbar li a {
        @apply  text-gray-100;
                
    }

    /* CSS Btn scroll-top */
    #btn-scroll-top i {
        @apply  fixed
                bottom-8
                -right-20
                z-[999]
                text-3xl
                opacity-0
                py-2
                px-4
                border-4
                rounded-xl
                bg-red-500
                text-white
                cursor-pointer
                transition-all
                ease-in-out
                duration-500
                animate-bounce
                hover:bg-red-600
                hover:border-red-600
                hover:border-double
    }
    #btn-scroll-top i.fa-solid.fa-angle-up.active {
        @apply  
                right-10
                opacity-100     
    }
}